<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<header>
  <ul class="header__left-menu">
    <li class="hidden-dropdown women"><a href="#" class="header__links">Women</a></li>
    <li class="hidden-dropdown men"><a href="#" class="header__links">Men</a></li>
    <li class="hidden-dropdown sale"><a href="#" class="header__links">Sale</a></li>
    <li><a href="#" class="header__links">Brand</a></li>
    <li><a href="#" class="header__links">Stores</a></li>
  </ul>
  <div class="dropdown women">
    <ul class="dropdown__list first">
      <li><a href="#" class="list-header">Featured</a></li>
      <li><a href="#">New Arrivals</a></li>
      <li><a href="#">High Summer Bright Collection</a></li>
      <li><a href="#">Fossil Mix</a></li>
      <li><a href="#">Pink Mix</a></li>
      <li><a href="#">Navy Mix</a></li>
      <li><a href="#">Tokyo Muscle Tank</a></li>
      <li><a href="#">New: London Pants</a></li>
      <li><a href="#">Permanent Collection</a></li>
      <li><a href="#">Face Masks</a></li>
    </ul>
    <ul class="dropdown__list second">
      <li><a href="#" class="list-header">Categories</a></li>
      <li><a href="#">All</a></li>
      <li><a href="#">Tees</a></li>
      <li><a href="#">Tanks</a></li>
      <li><a href="#">Pants</a></li>
      <li><a href="#">Shirts</a></li>
      <li><a href="#">Shorts</a></li>
      <li><a href="#">Sweatshirts</a></li>
      <li><a href="#">Sweatpants</a></li>
      <li><a href="#">Dresses</a></li>
      <li><a href="#">Bodysuites</a></li>
      <li><a href="#">Denim</a></li>
      <li><a href="#">Cashmere</a></li>
      <li><a href="#">Accessories</a></li>
      <li><a href="#">Gift Card</a></li>
    </ul>
    <a href="#" class="dropdown-img">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0698/9615/files/CC_CREATIVE_07_14_2124929_1_540x.jpg?v=1629914150" />
      <span>Shop Ibiza Polo Dress</span>
    </a>
    <a href="#" class="dropdown-img">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0698/9615/files/W2176127_FUCHSIA_6_540x.jpg?v=1629845860" />
      <span>Shop High Summer Collection</span>
    </a>  
  </div>
  <div class="dropdown men">
    <ul class="dropdown__list first">
      <li><a href="#" class="list-header">New Arrivals</a></li>
      <li><a href="#">Featured</a></li>
      <li><a href="#">New Tanks</a></li>
      <li><a href="#">New: Simon Pants</a></li>
      <li><a href="#">Permanent Collection</a></li>
      <li><a href="#">Face Masks</a></li>
      <li><a href="#">3 Packs</a></li>
    </ul>
    <ul class="dropdown__list second">
      <li><a href="#" class="list-header">Categories</a></li>
      <li><a href="#">All</a></li>
      <li><a href="#">Tanks</a></li>
      <li><a href="#">Tees</a></li>
      <li><a href="#">Shirts</a></li>
      <li><a href="#">Pants</a></li>
      <li><a href="#">Sweatshirts</a></li>
      <li><a href="#">Sweatpants</a></li>
      <li><a href="#">Shorts</a></li>
      <li><a href="#">Accessories</a></li>
      <li><a href="#">Gift Card</a></li>
    </ul>
    <a href="#" class="dropdown-img">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0698/9615/files/MENS_MOBILE_540x.jpg?v=1627432406" />
      <span>Shop Permanent Collection</span>
    </a>  
    <a href="#" class="dropdown-img">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0698/9615/files/MENS_MENU_TEST_540x.jpg?v=1627500612" />
      <span>Shop Simon Pants + Tees</span>
    </a>
  </div>
  <div class="dropdown sale">
    <ul class="dropdown__list first">
      <li><a href="#" class="list-header">Women</a></li>
      <li><a href="#">Tees + Shirts</a></li>
      <li><a href="#">Tanks</a></li>
      <li><a href="#">Shorts + Pants</a></li>
      <li><a href="#">Sweatshirts</a></li>
      <li><a href="#">Dresses + Bodysuits</a></li>
      <li><a href="#">Outwear</a></li>
      <li><a href="#">All</a></li>
    </ul>
    <ul class="dropdown__list second">
      <li><a href="#" class="list-header">Men</a></li>
      <li><a href="#">Tees + Shirts</a></li>
      <li><a href="#">Sweatshirts</a></li>
      <li><a href="#">Sweatpants</a></li>
      <li><a href="#">All</a></li>
    </ul>
  </div>

  {%- if request.page_type == 'index' -%}
    <h1 class="header__heading">
  {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link">
        {%- if section.settings.logo != blank -%}
          {%- assign image_size = section.settings.logo_width | append: 'x' -%}
          <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
            src="{{ section.settings.logo | img_url: image_size }}"
            loading="lazy"
            class="header__heading-logo"
            width="{{ section.settings.logo.width }}"
            height="{{ section.settings.logo.height }}"
            alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
          >
        {%- else -%}
          Cotton Citizen
        {%- endif -%}
      </a>
  {%- if request.page_type == 'index' -%}
    </h1>
  {%- endif -%}

  <ul class="header__right-links">
    <li><a href="#" class="header__links">Sign In</a></li>
    <li><a href="#" class="header__links">Search</a></li>
    <li><a href="#" class="header__links">Wishlist</a></li>
    <li><a href="#" class="header__links bag-link"><div class="item-number">0</div><span class="bag-letter">Bag</span></a></li>
  </ul>

  <div class="header__bottom-menu">
    <div class="bottom-menu__item no-link">Women</div>
    <div class="bottom-menu__item no-link">Men</div>
    <div class="bottom-menu__item toggle">
      <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="bottom-menu__item no-link">Search</div>
    <div class="bottom-menu__item no-link">Sale</div>
    <a class="bottom-menu__item link" href="#"><span>Stores</span></a>
    <a class="bottom-menu__item link" href="#"><span>Brand</span></a>
    <a class="bottom-menu__item link" href="#"><span>Contact</span></a>
    <a class="bottom-menu__item link" href="#"><span>Wishlist</span></a>
    <a class="bottom-menu__item link" href="#"><span>Returns</span></a>
  </div>
</header>
<script>
  const womenMenu = document.querySelector(".hidden-dropdown.women");
  const menMenu = document.querySelector(".hidden-dropdown.men");
  const saleMenu = document.querySelector(".hidden-dropdown.sale");
  const womenDropdown = document.querySelector(".dropdown.women");
  const menDropdown = document.querySelector(".dropdown.men");
  const saleDropdown = document.querySelector(".dropdown.sale");

  const bottomHamburger = document.querySelector(".bottom-menu__item.toggle");

  womenMenu.addEventListener("mouseover", () => {
    womenDropdown.classList.add("active");
    
  });
  womenMenu.addEventListener("mouseout", () => {
    womenDropdown.classList.remove("active");
  });

  menMenu.addEventListener("mouseover", () => {
    menDropdown.classList.add("active");
    
  });
  menMenu.addEventListener("mouseout", () => {
    menDropdown.classList.remove("active");
  });

  saleMenu.addEventListener("mouseover", () => {
    saleDropdown.classList.add("active");
    
  });
  saleMenu.addEventListener("mouseout", () => {
    saleDropdown.classList.remove("active");
  });

  bottomHamburger.addEventListener("click", () => {
    document.querySelector(".header__bottom-menu").classList.toggle("active");
    document.querySelector("#hamburger").classList.toggle("active");
  });
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
